/* @import "tailwindcss"; 
 
@layer utilities {         /* here comes the css that needs to overwrite on previous defined css */

/* } */

/* @layer components {        for normal css under a classname */
 
   /* .item{ */
      /* @apply   for tailwind-css   */  
   /* } */ 

   .app-layout {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 60px);
    }
      
    .app-content {
      flex: 1; /* Fills remaining space */  
    }

   .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
   }

   .flex-col{
      flex-direction: column;
   }

   .heading {
      font-size: 3rem;         /* text-5xl */
      text-align: center;      /* text-center */
      margin-top: 1.25rem;     /* my-5 = margin-top and margin-bottom = 1.25rem */
      margin-bottom: 1.25rem;
      text-transform: capitalize; /* capitalize */
    }

    .error {
      color: #dc2626;         /* text-red-600 */
      margin-top: 2rem;       /* mt-8 = margin-top: 2rem */
      text-align: center;     /* text-center */
    }